<ActionBar title="Home" class="action-bar">
	<ActionItem (tap)="showModal()"
	ios.systemIcon="4" ios.position="left"
	android.systemIcon="ic_menu_add" android.position="actionBar"></ActionItem>

</ActionBar>
 <StackLayout >
		<!-- <ListPicker [items]="listPickerCountries" [(ngModel)]="selectedListPickerIndex"></ListPicker> -->
		<!-- <SearchBar width="200" hight="300" hint="Search hint" [text]="searchPhrase" (submit)="onSearchSubmit($event)"></SearchBar> -->
		
	</StackLayout> 
 <GridLayout> 

	<ScrollView class="page">
			<!-- <SearchBar width="250" hight="50" hint="Search hint" [text]="searchPhrase" (submit)="onSearchSubmit($event)"></SearchBar> -->

  
	 <!-- <StackLayout class="form">
					<SearchBar [formControl]="searchControl" class="input"></SearchBar>
				</StackLayout>  -->

		<ListView [items]="_batches" (itemTap)="onItemTap($event)" class="list-group">
		
			<ng-template let-comment="item" let-i="index" let-odd="odd" let-even="even">
			
				<StackLayout orientation="horizontal" class="list-group-item" >
					
						<StackLayout width="200" height="45">
								<Label  horizontalAlignment="left" [text]="comment.companyname" textWrap="true" ></Label>
			  					<Label  horizontalAlignment="left" [text]="comment.phonenumber" textWrap="true"></Label>
						</StackLayout>
						<StackLayout width="60">
								<Button  horizontalAlignment="right" class="edit-button" text="" (tap)="EditModal(comment._id)"></Button>
						</StackLayout> 
						<StackLayout  horizontalAlignment="right" width="60">
								<Button class="delete-button" text="" (tap)="DeleteItem(comment._id)"></Button>
						</StackLayout> 
				
									


 
                </StackLayout>

			</ng-template>
		</ListView> 
	</ScrollView>
</GridLayout>  